<h1>Novo Colaborador</h1>
<hr>
<form action="{{adicionarFuncionario}}" id="addFuncionario" name="addFuncionario" class="col-10" method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome">
    </div>
    <div class="form-group">
        <label for="data_nasc">Nascimento</label>
        <input class="form-control" type="date" name="data_nasc" id="data_nasc">
    </div>
    <div class="form-group">
        <label for="end_cep">CEP</label>
        <input class="form-control" type="text" name="end_cep" id="end_cep">
    </div>
    <div class="form-group">
        <label for="end_logradouro">Logradouro</label>
        <input class="form-control" type="text" name="end_logradouro" id="end_logradouro">
    </div>
    <div class="form-group">
        <label for="end_numero">Número</label>
        <input class="form-control" type="text" name="end_numero" id="end_numero">
    </div>
    <div class="form-group">
        <label for="end_bairro">Bairro</label>
        <input class="form-control" type="text" name="end_bairro" id="end_bairro">
    </div>
    <div class="form-group">
        <label for="end_cidade">Cidade</label>
        <input class="form-control" type="text" name="end_cidade" id="end_cidade">
    </div>
    <div class="form-group">
        <label for="end_estado">Estado</label>
        <input class="form-control" type="text" name="end_estado" id="end_estado">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="tel_fixo">Telefone Fixo</label>
        <input class="form-control" type="text" name="tel_fixo" id="tel_fixo">
    </div>
    <div class="form-group">
        <label for="tel_cel">Telefone Celular</label>
        <input class="form-control" type="text" name="tel_cel" id="tel_cel">
    </div>
    <div class="form-group">
        <label for="competencia_tec">Competências Técnicas</label>
        <textarea class="form-control" name="competencia_tec" id="competencia_tec" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="competencia_compor">Competências Comportamentais</label>
        <textarea class="form-control" name="competencia_compor" id="competencia_compor" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <a href="javascript:history.back()">Voltar</a>
</form>