<h1>Detalhes</h1>
<p>Nome: {{funcionario.nome}}</p>
<p>Nascimento: {{funcionario.data_nasc}}</p>
<p>CEP: {{funcionario.end_cep}}</p>
<p>Logradouro: {{funcionario.end_logradouro}}</p>
<p>Numero: {{funcionario.end_numero}}</p>
<p>Bairro: {{funcionario.end_bairro}}</p>
<p>Cidade: {{funcionario.end_cidade}}</p>
<p>Estado: {{funcionario.end_estado}}</p>
<p>Email: {{funcionario.email}}</p>
<p>Telefone Fixo: {{funcionario.tel_fixo}}</p>
<p>Celular: {{funcionario.tel_cel}}</p>
<p>Competências Técnicas: {{funcionario.competencia_tec}}</p>
<p>Competencias Comportamentais: {{funcionario.competencia_compor}}</p>
<a href="{{link_pdf}}" class="btn btn-secondary btn-sm">Exportar PDF</a>
<a href="{{link_inicio}}">Início</a>