
<link rel="stylesheet" href="./assets/css/custom.css" rel="stylesheet">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        
        <!-- Icon -->
        <div class="fadeIn first">
                {{mensagem}}
        </div>
        
        <!-- Login Form -->
        <form action="{{form_autenticao}}" method="POST" id="formlogin">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        
       
    </div>
</div>

